# keepalived — 核心功能（必须）
CONFIG_PACKAGE_keepalived=y
CONFIG_PACKAGE_keepalived-sync=y
CONFIG_PACKAGE_luci-app-keepalived=y
CONFIG_PACKAGE_luci-app-keepalived-ha=y

# Netfilter & IPTables（VRRP 运行所需）
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-filter=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-nfnetlink=y

# 实用工具
CONFIG_PACKAGE_procps-ng=y
CONFIG_PACKAGE_procps-ng-pkill=y
CONFIG_PACKAGE_git=n
CONFIG_PACKAGE_git-lfs=n
CONFIG_PACKAGE_openssh-client=y
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_yq=y
CONFIG_PACKAGE_libopenssl=y

# LuCI 兼容层
CONFIG_PACKAGE_luci-compat=y